body {
    margin: 0px;
}

article {
    display: flex;
    height: auto;
    min-height: 100%;
    flex-direction: row;
}

ul {
    margin-top: 64px;
}

ul li {
    list-style: none;
    position: relative;
    margin-top: 32px;
}

li::before {
    content: '●';
}

.menu {
    top: 0;
    height: calc(100vh - 32px);
    width: 18vw;
    background-color: #F0F0FF;
    padding-top: 32px;
    z-index: 100;
    overflow: scroll;
    position: -webkit-sticky;
    position: sticky;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu::-webkit-scrollbar {
    display: none;
}

.border {
    top: 0;
    width: 4px;
    height: auto;
    background-color: #D0D0D0;
    border-left: solid 1px #AAAAAA;
    border-right: solid 1px;
    padding-top: 32px;
    position: -webkit-sticky;
    position: sticky;
}

main {
    width: 82vw;
    height: auto;
    padding-top: 32px;
    flex-grow: 1;
}

#menu_top::before           { color: #FFCCCC; }
#menu_products::before      { color: #00FF00; }
#menu_qualification::before { color: #33FFFF; }
#menu_link::before          { color: #0099FF; }
#menu_gallery::before       { color: #0000FF; }
#menu_other::before         { color: #333399; }
#menu_preparation::before   { color: #CC00CC; }
#menu_preparation2::before  { color: #EE00DD; }

.responsive_button {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 40px;
    cursor: pointer;
    z-index: 101;
    margin: 16px;
}

.menu_line {
    background: #696969;
    width: 32px;
    height: 4px;
    margin: 4px;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .responsive_button {
        display: flex;
    }

    .menu, .border {
        display: none;
        position: fixed;
        width: 50vw;
    }
}
