main {
    background-image: url("../images/kumavale.png");
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 128px;
}

.icon {
    padding-right: 32px;
}
