main {
    background-image: url("../images/qualification.png");
}

table {
    border: 1px solid;
    width: 700px;
    max-width: 95%;
}

tr, td {
    border: 1px solid;
    text-align: left;
}

.date, .name {
    font-weight: bold;
}

#qualification {
    padding-bottom: 128px;
}
