#title_back {
    margin: auto;
    border: 1px solid #000000;
    width: 96%;
    padding-top: 5%;
    position: relative;
}

#title_icon {
}

#title_text {
}

#screen {
    margin: auto;
    position: relative;
    border: 1px solid #000000;
    width: 96%;
    padding-top: 60%;
    cursor: url('../images/cursor.png'), auto;
}

#cons_title {
    font-size: 22px;
    color: #FFFFFF;
    padding-left: 32px;
    user-select: none;
}

#cons_text {
    color: #FFFFFF;
    padding-left: 6px;
    padding-top: 4px;
    font-size: 18px;
    font-family: "MS Gothic";
    line-height: 26px;
}

#cons_cross {
    font-size: 14px;
    text-align: center;
}

#input {
    width: '280px';
    color: #FFFFFF;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-family: "MS Gothic";
}

#textarea {
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 8px;
    padding-top: 8px;
    font-family: sans-serif;
}

span {
    text-decoration: underline;
    cursor: pointer;
}

